::-webkit-scrollbar {
  overflow-x: hidden;
  width: 0px; /* Remove scrollbar space /
  background: transparent;  / Optional: just make scrollbar invisible */
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@800&display=swap');
